@tailwind base;
@tailwind components;
@tailwind utilities;

.inverted-shadow {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
        rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.animate {
    transition: all 0.3s ease;
    animation-delay: 0.5s;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.bg-blur::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 60vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    z-index: 10;
    top: 0;
    right: -100%;
}
